#hero {
  background-image: url('/Pictures/boritokep.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 100%;
  height: 400px;
}

.navbar-nav .nav-item {
  border-right: 1px solid rgba(0, 0, 0, 0.4); ;
  margin-right: 10px;
  padding-right: 10px;
}

.bg-gray {
 background-color: gray;
}