#hero {
  background-image: url('/Pictures/boritokep.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 100%;
  height: 400px;
}

.navbar-nav .nav-item {
  border-right: 1px solid rgba(0, 0, 0, 0.4); ;
  margin-right: 10px;
  padding-right: 10px;
}

.bg-gray {
 background-color: gray;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  position: relative;
  transition: transform 0.5s ease;
  --tx: 0px;
  --ty: 0px;
  --rot: 0deg;
  --scale: 1;
  --skew: 0deg;

  transform:
    translate(var(--tx), var(--ty))
    rotate(var(--rot))
    scale(var(--scale))
    skewX(var(--skew));
}
